@model IEnumerable<OnlineGroceryStore.Models.Customer>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Custid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custemail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custcontactno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Custname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custemail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custcontactno)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Custid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Custid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Custid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
