@model OnlineGroceryStore.CategoryProduct.Category

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>


    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">


</head>
<body>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Category</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CategoryName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CategoryName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ParentCategoryId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ParentCategoryId)
            </dd>
        </dl>

        <form asp-action="Delete" method="post">
            <input type="hidden" name="DeleteCategoryId" value="@Model.CategoryId"asp-for="CategoryId" />
            <input type="submit"  onclick="return confirm('Do You Really Wanna Delete..?');" value="Final Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>



    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>


</body>
</html>
